<article id="<%= question.id %>">
  <% if logged_in? %>
    <form method="post" action='/questions/<%= question.id %>/vote' class="button-up">
      <input type="hidden" name="vote_value", value=1 >
      <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
    </form>
  <% end %>

  <span class='question_vote '><%= question.votes.sum(:vote_value) %></span>

  <h2 class='inline'><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>

  <% if logged_in? %>
    <form method="post" action='/questions/<%= question.id %>/vote' class="button-down">
      <input type="hidden" name="vote_value", value=-1 >
      <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-down vote-button downvote-button"></button>
    </form>
  <% end %>

</article>
<hr />
