<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<h3><%= @question.answers.count %> Answers</h3>
<% @question.answers.each do |answer| %>
  <hr />
  <p><%= answer.body %></p>
  <small style="text-align: right;"><a href="/comments">Add Comment</a> | Posted by: <a href="#"><%= answer.author.username %></a></small>

  <% answer.comments do |comment| %>
    <p style="font-size: 8pts;"><%= comment.body %></p>
  <% end %>

<% end %>
