<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<h3><%= @question.answers.count %> Answers</h3>

<% if logged_in? %>
  <button class="add">Add Answer</button>
  <%= erb :"/_response", layout:false, locals: { question: @question } %>
<% end %>

<div class="answer-container">
  <% @question.answers.each do |answer| %>
    <%= erb :"/questions/_answer", layout: false, locals: { answer: answer } %>
  <% end %>
  <br />
</div>
