<h2><%= @user.username %></h2>
<p>Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>

<% if @user.questions.count > 0 %>
  <h3>Questions</h3>
  <ul>
  <% @user.questions.each do |question| %>
    <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
  <% end %>
  </ul>
<% end %>

<% if @user.answers.count > 0 %>
  <hr />

  <h3>Answers</h3>
  <ul>
  <% @user.answers.each do |answer| %>
    <li><a href="/questions/<%= answer.question.id %>"><%= answer.question.title %></a></li>
  <% end %>
  </ul>
<% end %>
